<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DumbDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DumbDownloader.Properties.Settings>
            <setting name="db_connection" serializeAs="String">
                <value>server=localhost;port=3306;database=wpf_stock_test;user=seaeast2;password=123456</value>
            </setting>
        </DumbDownloader.Properties.Settings>
    </userSettings>
</configuration>